.cart {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.is-close {
        display: none;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 10px 30px;
        border-radius: 50px;

        & img {
        height: 40px;
    }
    
        & span {
            font-family: "Cherry Bomb One", system-ui;
            font-size: 1.2em;
        }
    }

}