* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

body {
    background: white;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

body.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

body.white-bg {
    background: white;
}

@keyframes rainbowMove {
  0%   { background-position: 0% 50%; }
  100% { background-position: 300% 50%; }
}

