* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: url("../assets/background/background_mobile.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

body.scrollable {
    overflow: auto;
}

body.white-bg {
    background: white;
}

@media (min-width: 1200px) {
    body {
        background: url("../assets/background/background.png") no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
    }
}
